<header>
<nav>
    <ul>
        <li class="header1">
            <a href="https://mail.google.com/mail/u/0/? tab=wm#inbox">Gmail</a>
        </li>
        <li class="header1">
            <a href="https://www.google.fr/imghp?hl=en&tab=wi&ei=1JVcWdaZJsn0Ur_HgagD&ved=0EKouCBUoAQ">Images</a>
        </li>
        <li>
            <!-- <img src="https://raw.githubusercontent.com/beaucouplus/google/master/images_google/menu_gg.png"> -->
            menu
        </li>
        <li>
            <!-- <img src="https://rawgit.com/beaucouplus/google/master/images_google/notifications.png"> -->
            notifications
        </li>
        <li>
            <!-- <img class="A" src="https://lh3.googleusercontent.com/-ug2QO0REfR8/AAAAAAAAAAI/AAAAAAAAAAA/AI6yGXzxvsP3i23gG5KEuGKJdw78VZ2qVQ/s32-c-mo/photo.jpg"> -->
            profil
        </li>
    </ul>
 </nav>
</header>

<div class="click"id="click">
<button class="showme" id="showme" onclick="setTimeout(popup, 5000)">Show me!</button>
</div>

<div id="JS"> 
    
  <!-- LOGO -->
<section class="google">
    <div>
    <a class="logo_subtext">France
    </a>
    </div> 
</section>
    
<!-- SEARCH BAR -->
<section class="form">  
      <form style="height: 44px";>
        <label for="form-search"></label>
        <input type="text" id="form-search">
          <!-- <img class="voc" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC"> -->
      </form>
</section>
    
    
<!-- BUTTONS-->
<section>
   <div class="buttons">
        <input class="btn" type="submit" value="Recherche Google" onclick="searchGoogle()">
        <input class="btn" type="submit" value="J'ai de la chance">
    </div>
</section>

</div>

<!--FOOTER-->
<footer>
    <span class="footer_left">
        <a href="https://www.google.fr/intl/fr/ads/?fg=1">Publicité</a>
        <a href="https://www.google.fr/services/?fg=1#?modal_active=none">Entreprise</a>
        <a href="https://www.google.fr/intl/fr/about/">A propos</a>
    </span>
    <span class="footer_right">
        <a href="https://www.google.fr/intl/fr/policies/privacy/?fg=1">Confidentialité</a>
        <a href="https://www.google.fr/intl/fr/policies/terms/regional.html">Conditions</a>
        <a href="https://www.google.fr/preferences?hl=fr">Paramètres</a>
    </span>
</footer>