<header>
<nav>
    <ul>
        <li class="header1">
            <a href="https://mail.google.com/mail/u/0/? tab=wm#inbox">Gmail</a>
        </li>
        <li class="header1">
            <a href="https://www.google.fr/imghp?hl=en&tab=wi&ei=1JVcWdaZJsn0Ur_HgagD&ved=0EKouCBUoAQ">Images</a>
        </li>
        <li>
            <%= image_tag 'menu_gg.png'%>
        </li>
        <li>
            <%= image_tag 'notifications.png'%>
        </li>
        <li>
            <%= image_tag 'A.jpg', :class => "A"%>
        </li>
    </ul>
 </nav>
</header>

<div class="click"id="click">
<button class="showme" id="showme" onclick="setTimeout(popup, 5000)">Show me!</button>
</div>

<div id="JS"> 
    
  <!-- LOGO -->
<section class="google">
    <div>
    <a class="logo_subtext">France
    </a>
    </div> 
</section>
    
<!-- SEARCH BAR -->
<section class="form">  
      <form style="height: 44px";>
        <label for="form-search"></label>
        <input type="text" id="form-search">
          <%= image_tag 'micro.png', :class => "voc"%>
      </form>
</section>
    
    
<!-- BUTTONS-->
<section>
   <div class="buttons">
        <input class="btn" type="submit" value="Recherche Google" onclick="searchGoogle()">
        <input class="btn" type="submit" value="J'ai de la chance">
    </div>
</section>

</div>

<!--FOOTER-->
<footer>
    <span class="footer_left">
        <a href="https://www.google.fr/intl/fr/ads/?fg=1">Publicité</a>
        <a href="https://www.google.fr/services/?fg=1#?modal_active=none">Entreprise</a>
        <a href="https://www.google.fr/intl/fr/about/">A propos</a>
    </span>
    <span class="footer_right">
        <a href="https://www.google.fr/intl/fr/policies/privacy/?fg=1">Confidentialité</a>
        <a href="https://www.google.fr/intl/fr/policies/terms/regional.html">Conditions</a>
        <a href="https://www.google.fr/preferences?hl=fr">Paramètres</a>
    </span>
</footer>